# Database Configuration (Local Development)
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name


# API configuration
ANTHROPIC_API_KEY=your_anthropic_api_key

# Email configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_SSS=True
MAIL_USE_TLS=False
MAIL_USERNAME=your_username@gmail.com
MAIL_PASSWORD=your_password
MAIL_DEFAULT_SENDER=default_sender@gmail.com
CONTACT_DESTINATION_EMAIL=contact_destination@gmail.com

# Flask Configuration
SECRET_KEY=your-super-secret-key-change-this-in-production
DEBUG=True
HOST=127.0.0.1
PORT=5000


